
<web-app>

<servlet>
<servlet-name>test590</servlet-name>
<servlet-class>OrderLoad</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>test590</servlet-name>
<url-pattern>/order.html</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>test690</servlet-name>
<servlet-class>MenuLoad</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>test690</servlet-name>
<url-pattern>/menu.html</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>test790</servlet-name>
<servlet-class>LoginLoad</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>test790</servlet-name>
<url-pattern>/login.html</url-pattern>
</servlet-mapping>


</web-app>


